@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #f6f6f6;
}

@layer components {
  .menu-item {
    @apply flex flex-col justify-center h-full cursor-pointer mr-[15px] hover:transition-all hover:duration-200 hover:ease-in-out;
  }
  /* .image-hover::after {
    @apply image-hover;
  } */

  /* .image-hover:hover {
    @apply transition-all duration-200 ease-in-out;
  } */
}
.menu-item:hover {
  border-bottom: 2px solid #3e3e3e;
}
.icon-play {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 40%;
  display: block;
  transform: translate(0, -50%);
}
.icon-loading {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(0, -50%);
}
.image-hover:hover::after {
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  position: absolute;
  background-color: black;
  cursor: pointer;
  animation-name: slidin;
  animation-duration: 0.5s;
  border-radius: 8px;
  animation-timing-function: ease-in-out;
}

@keyframes slidin {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
